In [1]:
import pandas as pd
import os
import oracledb
from pandas import read_csv

In [2]:
# Create DSN (Data Source Name)
dsn = oracledb.makedsn("localhost", 1521, service_name="XEPDB1")

# Connect
conn = oracledb.connect(
    user="Ecommerce",
    password="Bhimd123",
    dsn=dsn
)

cursor = conn.cursor()
print("Connected to Oracle Database")

Connected to Oracle Database

folder location csv file name

In [26]:
# Folder containing the CSV files
folder_path = 'Original_data'
# List of CSV files and their corresponding table names
csv_files = [
    ('customers.csv', 'customers'),
    ('geolocation.csv', 'geolocation'),
    ('order_items.csv', 'order_items'),
    ('orders.csv', 'orders'),
    ('products.csv', 'products'),
    ('payments.csv', 'payments'),
    ('sellers.csv', 'sellers'),# Added payments.csv for specific handling
]

Datatype of finding function

In [27]:
def get_sql_type(dtype, sample_values=None):
    if pd.api.types.is_integer_dtype(dtype):
        return "NUMBER"
    elif pd.api.types.is_float_dtype(dtype):
        return "FLOAT"
    elif pd.api.types.is_datetime64_any_dtype(dtype):
        return "DATE"
    else:
        # If object/string, pick VARCHAR2 with max length from sample
        max_len = 255
        if sample_values is not None:
            try:
                max_len = max(sample_values.dropna().astype(str).map(len).max(), 1)
            except:
                pass
        return f"VARCHAR2({min(max_len, 4000)})"  # Oracle limit is 4000 for VARCHAR2

In [29]:
# ---------- STEP 3: Process each CSV ----------
for csv_file, table_name in csv_files:
    file_path = os.path.join(folder_path, csv_file)

    # Read CSV
    df = pd.read_csv(file_path, delimiter=',', header=0)

    # Replace NaN with None
    df = df.where(pd.notnull(df), None)

    print(f"\nProcessing {csv_file}")
    print("Dtypes:\n", df.dtypes)
    print("NaN values per column:\n", df.isnull().sum())

    # Clean column names
    df.columns = [col.upper().replace(" ", "_").replace("-", "_").replace(".", "_") for col in df.columns]

    # ---------- STEP 4: Drop existing table (if any) ----------
    try:
        cursor.execute(f"DROP TABLE {table_name}")
        print(f"Table {table_name} dropped.")
    except oracledb.DatabaseError:
        print(f"Table {table_name} does not exist, creating new one.")

    # ---------- STEP 5: Build CREATE TABLE ----------
    column_defs = []
    for col in df.columns:
        sql_type = get_sql_type(df[col].dtype, df[col])
        column_defs.append(f"{col} {sql_type}")

    create_table_query = f"CREATE TABLE {table_name} ({', '.join(column_defs)})"
    print("Executing:", create_table_query)
    cursor.execute(create_table_query)

    # # ---------- STEP 6: Insert rows ----------
    # I have Inserted rows in Table using import data.
    # placeholders = ", ".join([f"{i}:{i+1}" for i in range(len(df.columns))])
    # insert_sql = f"INSERT INTO {table_name} ({', '.join(df.columns)}) VALUES ({placeholders})"

    # for _, row in df.iterrows():
    #     values = tuple(None if pd.isna(x) else x for x in row)
    #     cursor.execute(insert_sql, values)

    # conn.commit()
    # print(f"Inserted {len(df)} rows into {table_name}.")

# ---------- STEP 7: Close connection ----------
conn.close()
print("\nAll CSVs processed successfully.")

Processing customers.csv
Dtypes:
 customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object
NaN values per column:
 customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64
Table customers dropped.
Executing: CREATE TABLE customers (CUSTOMER_ID VARCHAR2(32), CUSTOMER_UNIQUE_ID VARCHAR2(32), CUSTOMER_ZIP_CODE_PREFIX NUMBER, CUSTOMER_CITY VARCHAR2(32), CUSTOMER_STATE VARCHAR2(2))

Processing geolocation.csv
Dtypes:
 geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object
NaN values per column:
 geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64
Table geolocation dropped.
Executing: CREATE TABLE geolocation (GEOLOCATION_ZIP_CODE_PREFIX NUMBER, GEOLOCATION_LAT FLOAT, GEOLOCATION_LNG FLOAT, GEOLOCATION_CITY VARCHAR2(38), GEOLOCATION_STATE VARCHAR2(2))

Processing order_items.csv
Dtypes:
 order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object
NaN values per column:
 order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64
Table order_items dropped.
Executing: CREATE TABLE order_items (ORDER_ID VARCHAR2(32), ORDER_ITEM_ID NUMBER, PRODUCT_ID VARCHAR2(32), SELLER_ID VARCHAR2(32), SHIPPING_LIMIT_DATE VARCHAR2(19), PRICE FLOAT, FREIGHT_VALUE FLOAT)

Processing orders.csv
Dtypes:
 order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object
NaN values per column:
 order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64
Table orders dropped.
Executing: CREATE TABLE orders (ORDER_ID VARCHAR2(32), CUSTOMER_ID VARCHAR2(32), ORDER_STATUS VARCHAR2(11), ORDER_PURCHASE_TIMESTAMP VARCHAR2(19), ORDER_APPROVED_AT VARCHAR2(19), ORDER_DELIVERED_CARRIER_DATE VARCHAR2(19), ORDER_DELIVERED_CUSTOMER_DATE VARCHAR2(19), ORDER_ESTIMATED_DELIVERY_DATE VARCHAR2(19))

Processing products.csv
Dtypes:
 product_id                     object
product category               object
product_name_length           float64
product_description_length    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object
NaN values per column:
 product_id                      0
product category              610
product_name_length           610
product_description_length    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64
Table products dropped.
Executing: CREATE TABLE products (PRODUCT_ID VARCHAR2(32), PRODUCT_CATEGORY VARCHAR2(48), PRODUCT_NAME_LENGTH FLOAT, PRODUCT_DESCRIPTION_LENGTH FLOAT, PRODUCT_PHOTOS_QTY FLOAT, PRODUCT_WEIGHT_G FLOAT, PRODUCT_LENGTH_CM FLOAT, PRODUCT_HEIGHT_CM FLOAT, PRODUCT_WIDTH_CM FLOAT)

Processing payments.csv
Dtypes:
 order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object
NaN values per column:
 order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64
Table payments dropped.
Executing: CREATE TABLE payments (ORDER_ID VARCHAR2(32), PAYMENT_SEQUENTIAL NUMBER, PAYMENT_TYPE VARCHAR2(11), PAYMENT_INSTALLMENTS NUMBER, PAYMENT_VALUE FLOAT)

Processing sellers.csv
Dtypes:
 seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object
NaN values per column:
 seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64
Table sellers dropped.
Executing: CREATE TABLE sellers (SELLER_ID VARCHAR2(32), SELLER_ZIP_CODE_PREFIX NUMBER, SELLER_CITY VARCHAR2(40), SELLER_STATE VARCHAR2(2))

All CSVs processed successfully.